@keyframes headerImageAnimation{
   0% {filter: hue-rotate(0deg);}
   25% {filter: hue-rotate(360deg);}
   50% {filter: hue-rotate(-160deg);}
   75% {filter: hue-rotate(200deg);}
   100% {filter: hue-rotate(0deg);}
}

/*#region burgerAnimations */
@keyframes burgerTop {
   0% {transform: translateY(0) rotate(0deg);}
   100% {transform: translateY(7.5px) rotate(45deg);}
}

@keyframes burgerTopReverse {
   0% {transform: translateY(7.5px) rotate(45deg);}
   100% {transform: translateY(0) rotate(0deg);}
}

@keyframes burgerMiddle {
   0% {opacity: 1;}
   100% {opacity: 0;}
}

@keyframes burgerMiddleReverse {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes burgerBottom {
   0% {transform: translateY(0) rotate(0deg);}
   100% {transform: translateY(-6px) rotate(-45deg);}
}

@keyframes burgerBottomReverse {
   0% {transform: translateY(-6px) rotate(-45deg);}
   100% {transform: translateY(0) rotate(0deg);}
}

/*#endregion burgerAnimations */