.main-header {
    background: #040C18;
}

.main-header .main-nav {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.main-nav ul li {
    list-style-type: none;
}

.main-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.main-nav .burger-menu {
    display: block;
    padding-left: 1rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10%;
}

.main-nav .burger-menu .bar {
    width: 20px;
    height: 4px;
    margin: 3px 0;
    background: #fff;
    display: block;
}

/*#region adding burgerAnimations */
.burger-menu .bar.burgerTop {
    animation: burgerTop 0.5s 1 forwards;
}

.burger-menu .bar.burgerTopReverse {
    animation: burgerTopReverse 0.5s 1 forwards;
}

.burger-menu .bar.burgerMiddle {
    animation: burgerMiddle 0.5s 1 forwards;
}

.burger-menu .bar.burgerMiddleReverse {
    animation: burgerMiddleReverse 0.5s 1 forwards;
}

.burger-menu .bar.burgerBottom {
    animation: burgerBottom 0.5s 1 forwards;
}

.burger-menu .bar.burgerBottomReverse {
    animation: burgerBottomReverse 0.5s 1 forwards;
}
/*#endregion adding burgerAnimations*/

.main-nav ul li {
    display: none;
}

/* Burger menu content */
.main-nav ul li.hamburger-content,
.main-nav .secondary-list li.hamburger-content  {
    display: block;
}

/* Tablet */
@media (min-width: 800px) {

    .main-header .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main-nav ul li {
        display: block;
    }

    .main-nav .burger-menu {
        display: none;
    }
}

/* Desktop */
@media (min-width: 1300px) {

    .main-header .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main-nav ul li {
        display: block;
    }

    .main-nav .burger-menu {
        display: none;
    }

    .secondary-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}